<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        
          <ion-card>
            <ion-card-content class="ion-text-center">
              <img src="{{image}}" alt="">
              <ion-card-title>
                {{name}}
              </ion-card-title>
              <p>{{status}}</p>
              <p>{{species}}</p>
              <p>{{type}}</p>
              <p>{{gender}}</p>
              
                <ion-button (click) = "addFav(character)" color="danger">
                  <ion-icon name="heart"></ion-icon>
                </ion-button>
             
            </ion-card-content>
          </ion-card>
      
      </ion-col>
     
      <ion-button expand="block" color="dark" (click) = "regresar()">
        <ion-icon slot="end" name =" return-down-back-outline">
        </ion-icon>
        <ion-label>Volver</ion-label>
      </ion-button>
    
    </ion-row>
  </ion-grid>
</ion-content>