<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button class = "boton" tab="tab1">
      <ion-avatar>
        <img src="assets/personaje.png" >
      </ion-avatar>
      <ion-label>Personajes</ion-label>
    </ion-tab-button>

    <ion-tab-button class = "boton"  tab="tab2">
      <ion-avatar>
        <img src="assets/episode.png" >
      </ion-avatar>
      <ion-label>Espisodios</ion-label>
    </ion-tab-button>

    <ion-tab-button class = "boton" tab="tab3">
      <ion-avatar>
        <img src="assets/favorite.png" >
      </ion-avatar>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
